:root{
--body: #eee;
--main-color: rgb(46, 204, 113);
--secondary: #f95738;
--done:rgb(46, 204, 113);
--fail:red;
--white:#ffff;
--select: aliceblue;
--input: aliceblue;
--off:grey;
--black:#000000;
--box-shadow: 0 5px 10px rgba(0,0,0,.1);
--dispute: rgb(61, 61, 204);











}